{% extends 'base.html' %}

{% block content %}

    <div class="container" id="top">
        <div class="row">
            {% for event in event_list %}
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {% if event.main_image %}
                                <div class="event-list">
                                    <a href="{% url 'events:event_detail' slug=event.slug %}">
                                        <img src="{{ event.main_image.url }}" class="event-img" id="event-img">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-footer">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <a class="btn btn-info btn-xs" href="{{ event.get_absolute_url }}">
                                            Open <span>
                                            <i class="fa fa-open"></i>
                                        </span>
                                        </a>
                                    </td>
                                    <td>
                                        {% if event.is_payable %}
                                            <div class="label label-info">
                                                Ticket KES{{ event.price }}
                                            </div>
                                        {% else %}
                                            <div class="label label-success">
                                                Ticket Free!!
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="label label-primary">
                                            Days Remaining {{ event.remaining_days }}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}