{% extends 'base.html' %}

{% block content %}

    <div class="container" id="top">
        <h3 class="page-header text-center">{{ object.name }}</h3>

        <div class="row">
            <div class="col-lg-6 col-sm-6 col-sm-offset-3 event-detail image">
                <img src="{{ object.main_image.url }}" class="img-responsive event-img" style="max-height: 350px">
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-sm-offset-3 event-description thumbnail">
            <h4 class="page-header text-center">
                Event Description
            </h4>
            <p class="text-justify">
                {{ object.description }}
            </p>
            <br/>
            <hr/>
            <br/>
            <table class="table table-hover">
                <caption>
                    <h4 class="text-center">Important Info</h4>
                </caption>
                <thead>
                <tr>
                    <th>
                        Event Date <span><i class="fa fa-calendar"></i></span>
                    </th>
                    <th>
                        Days Remaining <span><i class="fa fa-clock-o"></i></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ object.event_date }}
                    </td>
                    <td>
                        {% if object.remaining_days == 0 %}
                            <span class="text-success label"><i class="fa fa-circle"></i> Happening now</span>
                        {% elif object.remaining_days < 0 %}
                            <span class="text-danger label"><i class="fa fa-warning"></i> Past event</span>
                        {% else %}
                            {{ object.remaining_days }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            {% if object.past_due is False %}
            <p>
                This event {% if not object.is_payable %}is free!! {% else %}only costs KES {{ object.price }}{% endif %}
                        <a href="{% url 'events:eventbook_create' slug=object.slug %}" class="">
                            Get a ticket now
                        </a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}