{% extends 'accounts/accounts_base.html' %}
{% load crispy_forms_filters %}

{% block accounts_content %}
    <div class="panel-group">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    Profile Form<br><small>We only need some few details from you</small>
                </h4>
            </div>
                <div class="panel-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Create Profile" class="btn btn-primary btn-block"/>
    </form>

                    </div>
            </div>
        </div>
    </div>
{% endblock accounts_content %}