{% extends 'base.html' %}

{% block content %}

    {% include 'includes/header.html' %}

    <div class="container" id="top">
    <h2 class="page-header text-center">Upcoming Events</h2>
        <div class="row">
            {% for event in events %}
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span><i class="fa fa-info-circle"></i></span> {{ event.name|capfirst }}
                        <span class="pull-right">{% if event.remaining_days == 0 %}
                            <span class="text-success label"><i class="fa fa-circle"></i> Happening now</span>
                        {% elif event.remaining_days < 0 %}
                            <span class="text-danger label"><i class="fa fa-warning"></i> Past event</span>
                        {% endif %}</span>
                    </div>
                    <div class="panel-body">
                        <div class="event">
                            <div>
                                 <img src="{{ event.main_image.url }}" class="event-img" id="event-img">
                             </div>
                        </div>
{#                        <p>When? <span><i class="fa fa-calendar-o"></i> </span> <span class="badge">{{ event.event_date }}</span></p>#}
{#                        <p>Days remaining <span><i class="fa fa-clock-o"></i> </span> <span class="badge">1</span> </p>#}
{#                        <p class="text-justify">{{ event.description|truncatechars:'100' }}</p>#}
                    </div>
                    <div class="panel-footer">
                        <a href="{{ event.get_absolute_url }}" class="btn btn-info btn-sm">Details <span><i class="fa fa-arrow-circle-right"></i> </span></a>
                    </div>
                </div>
            </div>
            {% empty %}
                There are no events yet
            {% endfor %}
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <a class="btn btn-info btn-sm" href="{% url 'events:event_list' %}">Load More</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}